div.inizio{
    border-style: solid;
    border-width: 2px 3px;
    border-color: blue red yellow pink;
    font-size: 40px;
    vertical-align: auto;
    background-color: red;
}

main{
    background-color:blanchedalmond;
}

ul {
    list-style-type: none;


