#logo-container{
    background-color: white;
    height: 80px;
    font-size: large;
    font-size: 40px;
    
}

#logo {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    
}

#bottone-1{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color:cornflowerblue;
    color: white;
}

 #bottone-2{
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        background-color: white;
        text-decoration: gainsboro;
        color: grey;
 }

    #container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }




ul {
    list-style-type: none;
}

#prova{
   
    width: 20px;
    height: 20px;
    border-radius: 60%;
    border:2px solid greenyellow;
    color: greenyellow;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
   
}

#prova1{
   
    width: 20px;
    height: 20px;
    border-radius: 60%;
    border:2px solid red;
    color: red;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
   
}


