*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

body{
    background-color: aliceblue;
    margin-top: 1cm;
}

#logo-container{
    background-color: white;
    height: 60px;
    line-height: 60px;
    
}
main{
    background-color: white;
}

#logo {
    height: 100%;
    font-weight: bold;
    vertical-align: middle;
    
}

#bottone-1{
    width: 2cm;
    height: 1cm;
    border-radius: 10%;
    background-color:cornflowerblue;
    color: white;
    margin-left: 1cm;
    
}

 #bottone-2{
        width: 2cm;
        height: 1cm;
        border-radius: 10%;
        background-color: white;
        text-decoration: gainsboro;
        color: grey;
        vertical-align: middle;
        margin-left: 10px;
 }

 #spazio-bottoni{
     margin-top: 10px;
 }

    #container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }




ul {
    list-style-type: none;
    line-height: 40px;
    
}

.centro {
    font: 40px;
    font-size: 20px;
}

.prova{
   
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:2px solid greenyellow;
    color: greenyellow;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: normal;

   
}

.prova1{
   
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:2px solid red;
    color: red;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    
   
}

#inizio{
    font-size: 30px;
    vertical-align: middle;
    
}

.edit{
   
    width: 70px;
    height: 30px;
    border-radius: 30%;
    background-color: cornflowerblue;
    display: inline-block;
    color: white;
    text-align: center;
    line-height:initial;
    
}

.q1{
   
    width: 70px;
    height: 30px;
    border-radius: 30%;
    background-color: violet;
    display: inline-block;
    color: white;
    text-align: center;
}

.recl{
   
    width: 70px;
    height: 30px;
    border-radius: 30%;
    background-color: aquamarine;
    display: inline-block;
    color: white;
    text-align: center;
}

.mob{
   
    width: 70px;
    height: 30px;
    border-radius: 30%;
    background-color: orange;
    display: inline-block;
    color: white;
    text-align: center;
}

.web{
   
    width: 70px;
    height: 30px;
    border-radius: 30%;
    background-color: palevioletred;
    display: inline-block;
    color: white;
    text-align: center;
}

.sal{
   
    width: 70px;
    height: 30px;
    border-radius: 30%;
    background-color: rgb(100, 237, 118);
    display: inline-block;
    color: white;
    text-align: center;
    
}
    


